
@import "_variables";

body {
  font-family: $serif-fonts;
  font-size: $font-base-size;
  text-align: center;
}

input,
textarea {
  font-family: $serif-fonts;
  font-size: $font-base-size * 0.5;
}

h1 {
  color: $color1;
}

h2 {
  color: $color2;
}

h3 {
  color: $color3;
}

h4 {
  color: $color4;
}

h5 {
  color: $color5;
}

h6 {
  color: lighten($color5, 20%);
}

img,
input[type="text"],
input[type="password"],
textarea {
  border-radius: $border-rad;
}
